.cast-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.cast-container h2 {
    margin-bottom: 20px;
}

.actors-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.actors-container::-webkit-scrollbar {
    display: none;
}

.actor {
    min-width: 100px;
    max-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
}

.actor img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.actor .name {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.actor .character {
    font-size: 12px;
    text-align: center;
}