iframe {
    border-radius: 10px;
    align-self: center;
    border: none;
    width: 100%;
}

section {
    width: 100%;
}

@media only screen and (min-width: 640px) {
    iframe {
        height: 400px;
    }
}

@media only screen and (max-width: 640px) {
    iframe {
        height: 350px;
    }
}

@media only screen and (max-width: 550px) {
    iframe {
        height: 300px;
    }
}

@media only screen and (max-width: 430px) {
    iframe {
        height: 30vh;
    }
}