nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: black;
    border-top: solid gray 1px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    z-index: 1;
    font-size: 13px;
    font-weight: 500;
}

nav .tab {
    width: 70px;
    padding: 1%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    text-decoration: none;
    color: #808080;
}

.active span, .active svg {
    color: white;
}

@media (min-width: 1024px) {
    nav {
        top: 0;
        left: 0;
        bottom: auto;
        width: 7%;
        height: 100%;
        border: none    ;
        flex-direction: column;
        background: transparent;
    }

    .movies-wrapper, .shows-wrapper, .content-wrapper {
        padding-left: 8%;
    }
}

@media (min-width: 600px) {
    nav {
        gap: 10%;
    }
}