header {
    margin: 20px;
}

.page-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.title svg {
    width: 30px;
    height: 30px;
}

.page-title h1 {
    font-size: 22px;
}

.search {
    --padding: 15px;
    
    margin: 0 auto;
    width: 80%;
    max-width: 500px;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: calc(2 * var(--padding));
    background: #333333;
    border: solid #333333 2px;
    transition: border 0.25s;
}

.search:focus-within {
    border: solid gray 2px;
}

.search-input {
    width: 100%;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.search-input::placeholder{
    font-size: 16px;
    color: #a2a2a2;
}

.search-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background: url('../../../assets/close.svg') no-repeat center center;
    background-size: contain;
    color: white;
    height: 20px;
    width: 20px;
}


@media (min-width: 1024px) {
    .search-input::-webkit-search-cancel-button {
        cursor: pointer;
    }
}